*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Poppins";
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9c9c9c;
}
button{
    font-family: "Poppins";
    width: 200px;
    height: 60px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border: 2px solid blue;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s all ease;
    overflow: hidden;
}
button::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.5s all ease;
}
button:hover::before{
    transform: translateY(-100%);
}
button::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(50%);
    transition: 0.5s all ease;

}
button:hover::after{
    transform: translateY(100%);
}
button:active{
    transform: scale(0.9);
}
button:hover{
    color: blue;
    border-color: blue;
    font-weight: 600;
}